## File: templates/index.html
<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta charset="utf-8">
  <title>Rutas por monumentos</title>
  <link type="text/css" rel="stylesheet" href="static/estilo.css" />
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="static/mapa.js"></script>
  <script src="static/lateral.js"></script>

</head>
<body>
  <div id="map-canvas"></div>
  <div id="panel"><p>${tweets}</p></div>
</body>
</html>
